workflows/n8n/salvar_avaliacao.json
{
  "name": "Salvar Avaliação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salvar-avaliacao",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "avaliacoes",
        "schema": "public",
        "data": {
          "columns": [
            "obra_codigo",
            "nota",
            "justificativa"
          ],
          "values": [
            "={{$json[\"obra_codigo\"]}}",
            "={{$json[\"nota\"]}}",
            "={{$json[\"justificativa\"]}}"
          ]
        }
      },
      "name": "Inserir Avaliação",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "obras",
        "schema": "public",
        "where": {
          "conditions": [
            {
              "column": "Codigo",
              "condition": "equal",
              "value": "={{$json[\"obra_codigo\"]}}"
            }
          ]
        },
        "data": {
          "columns": [
            "avaliado"
          ],
          "values": [
            "true"
          ]
        }
      },
      "name": "Atualizar Status Obra",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Avaliação salva com sucesso"
            }
          ]
        }
      },
      "name": "Formatar Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Retornar Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Ocorreu um erro ao salvar a avaliação: {{ $error.message }}",
        "continueOnFail": true
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        450,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{ $json.errorMessage }}"
            }
          ]
        }
      },
      "name": "Formatar Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        650,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Inserir Avaliação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Avaliação": {
      "main": [
        [
          {
            "node": "Atualizar Status Obra",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status Obra": {
      "main": [
        [
          {
            "node": "Formatar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Sucesso": {
      "main": [
        [
          {
            "node": "Retornar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Formatar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Erro": {
      "main": [
        [
          {
            "node": "Retornar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {},
  "versionId": "1",
  "webhookId": "salvar-avaliacao",
  "active": true,
  "staticData": {},
  "triggerCount": 0
} 